<div class="split-screen right-padding">
<div></div>
<div>
<h2>2020-2023</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam explicabo a debitis! Itaque nobis odio mollitia dicta doloremque quo id fugit accusantium quia, eum deleniti harum, placeat cumque a distinctio?
</p>
</div>
<div>
<div></div>
</div>
<div></div>
<div></div>
<div>
<h2>2018-2023</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, vel impedit dolorum maxime dolorem repudiandae possimus officiis ut sed cumque reiciendis suscipit fugiat? Asperiores ad voluptate quibusdam molestiae reiciendis perferendis?</p>
</div>
<div></div>
<div>
<h2>2018-2023</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quaerat explicabo debitis accusamus eaque, tempore, laudantium tempora minus numquam praesentium facere iure animi nulla culpa libero quasi, aliquid labore nesciunt?</p>
</div>
<div></div>
<div>
<h2>2018-2023</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi asperiores tenetur hic aliquam! Neque necessitatibus praesentium est sunt sed ab itaque, enim, hic, porro ipsa cupiditate molestias doloribus? Nobis.</p>
</div>
<div></div>
<div>
<h2>2018-2023</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi asperiores tenetur hic aliquam! Neque necessitatibus praesentium est sunt sed ab itaque, enim, hic, porro ipsa cupiditate molestias doloribus? Nobis.</p>
</div>
</div>
</div>
